$wrap:#CED2DC;
$one-game:#4BABFF;
$two-player:#4B7BFF;
$game-online:#4B4BFF;
$training-game:#6E4BFF;
$white:#FFFFFF;
$grey:#EEEEEE;
$green:#DCF6E4;
$skin:#F6EFD5;
$light-green:#EFF3FF;
$dark-green:#37AC5D;
$yellow:#F8D146;
$mid-blue:#B1C4F9;
$label-color:#424242;
$bg2:#CED2DC;
$gray-border:#C9C9C9;
$btn-color:#4B7BFF;
$text-color:#3D4276;
$current-playing:#FFA200;
$congrats:#FF6600;
