<div class="main-wrapper">
    <h4 class="font-weight-bold">{{noOfGames}} Games Tournament</h4>
    <p *ngIf="!isWon" class="text-center">Playing Game {{gamesPlayed+1}}</p>
    <h4 *ngIf="isWon" class="congrats-text">Congratulations</h4>
    <p *ngIf="isWon && declaredWon ===''"> {{playerWonName}} , you won Game {{gamesPlayed}}</p>
    <h5 *ngIf="declaredWon !==''">{{playerWonName}}, you won the tournament</h5>
    <p *ngIf="noOfGames === gamesPlayed">You completed all your games. End tournament and play again.</p>
    <div class="player-card-content">
        <div class="player-card player-card-one card">
            <div [ngClass]="{'playerOnePlaying':currentPlaying==='Player 01' && !isWon}">
                <div class="img-container">
                    <img src="../../../assets/images/avatar01.png">
                </div>
            </div>

            <div class="player-info">
                <div class="name">
                    <label>Player 01</label>
                    <p class="font-weight-bold">{{playerOneName}}</p>
                </div>
                <div class="score">
                    <label>Score</label>
                    <p class="font-weight-bold">{{playerOneScore}}</p>
                </div>
            </div>
        </div>
        <div class="player-card player-card-two card">
            <div [ngClass]="{'playerTwoPlaying':currentPlaying==='Player 02' && !isWon}">
                <div class="img-container">
                    <img src="../../../assets/images/avatar02.png">
                </div>
            </div>

            <div class="player-info">
                <div class="name">
                    <label>Player 02</label>
                    <p class="font-weight-bold">{{playerTwoName}}</p>
                </div>
                <div class="score">
                    <label>Score</label>
                    <p class="font-weight-bold">{{playerTwoScore}}</p>
                </div>

            </div>
        </div>
    </div>
    <div class="button-wrapper">
        <div>
            <button class="btn btn-primary" [disabled]="disableNextGameButton()" (click)="startNextGame()">Next
                Game</button>
        </div>
        <div>
            <button class="btn" (click)="endTournament()">End Tournament</button>

        </div>
    </div>
</div>